@import 'components/header.css';
@import 'components/about.css';
@import 'components/projects.css';
@import 'components/footer.css';
@import 'utils.css';

* {
  /* border: 1px solid gray; */
  margin: 0;
  padding: 0;
}

:root {
  /* Tailwind Zinc colors  */
  /* --color_darkest: #000000;  
  --color_zinc900: #18181b;   
  --color_zinc100: #f4f4f5;  
  --color_zinc300: #d4d4d8;  
  --color_zinc700: #3f3f46;
  --color_zinc500: #71717a;
  --color_highlight: #4fb9a5; */

  --color_darkest: #020c1b;
  --color_zinc900: #0a192f;
  --color_zinc100: #f4f4f5;
  --color_zinc300: #8892b0; 
  --color_zinc500: #112240;
  --color_zinc700: #233554;
  --color_highlight: #64ffda;
  --color_border: #ffffff;  

  --shadow: 1px 2px 10px rgba(2, 12, 27, 0.7);

  --border_width: 0.5px;
}

.light {
  --color_darkest: #d4d4d8;
  --color_zinc900: #F7FAFC;
  --color_zinc100: #18181b;
  --color_zinc500: #d4d4d8;
  --color_zinc700: #ffffff;
  --color_zinc300: #3f3f46;
  --color_border: #64ffda;
  --border_width: 1.5px;
}

body {
  background-color: var(--color_darkest);
  font-family: 'Satoshi', sans-serif;
  line-height: 1.5rem;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color_zinc300);
  font-weight: 500;
}

.container {
  width: 70vw;
  background-color: var(--color_zinc900);
  border: 0.5px solid var(--color_zinc500);
  box-shadow: var(--shadow);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  /* gap: 3rem; */
}

main {
  margin-left: 5rem;
  margin-right: 5rem;
}

h1 {
  color: var(--color_zinc100);
  font-size: 3rem;
  line-height: 3.5rem;
}

h3 {
  color: var(--color_zinc100);
  font-size: 1.0rem;
  /* line-height: 1rem; */
  margin-top: 0.5rem !important;
}

p {
  /* max-width: 90ch; */
  color: var(--color_zinc300);
}

section {
  margin-top: 6rem;
}





/* Media Queries */
@media (max-width: 1536px) {
  .container{
    
  }
}

/* ipad: regular */
@media (max-width: 1280px) {
  .container{
    width: 90vw;
    
  }
}
/* lg: ipad Mini */
@media (max-width: 1024px) {
  
}

/* md: pro max phones? */
@media (max-width: 768px) {
  .container {
      width: 100vw;      
  }
  main {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }

  section {
    margin-top: 2rem;
  }

}

/* sm :iphone pro and smaller*/
@media (max-width: 640px) {
    
}