.projects > * {
  margin-bottom: 2rem;
}

.projects {
  color: var(--color_zinc100);
}

.projects__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
  list-style-type: none;
  gap: 1rem;
}

.projects > ul > li {  
  background-color: var(--color_zinc900);  
  border: var(--border_width) solid var(--color_border);
  border-radius: 2%;
  transition: all .2s ease-in-out;
  max-width: 272px;
}
.projects li:hover {
  transform: scale(1.02);
}

.projects__card {  
  position: relative;
  margin: 1rem;  
  /* width: 300px; */
  height: 300px;
}

.projects__card > * {
  margin-top: 1rem;
}

.projects__card > h2 > a {
  color: var(--color_zinc100);
}

.projects__cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projects__card i {
  color: var(--color_highlight);
}

.projects__technologies {
  position: absolute;
  bottom: -10px;
  color: var(--color_zinc300);
  font-size: 0.8rem;
  display: flex;
  list-style: none;
  gap: 2rem;
}


/* Media Queries */
@media (max-width: 1536px) {
  .projects>ul>li {
      max-width: 300px;
  }
}

/* xl : Ipad Regular*/
@media (max-width: 1280px) {
  .projects>ul>li {
      /* max-width: 300px; */
  }
}

/* lg :ipad Mini */
@media (max-width: 1024px) {
  .projects>ul>li {
      /* max-width: 300px; */
  }
}

/* md */
@media (max-width: 768px) {
  .projects__list {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  
  .projects__card {
    margin: 1rem;
  }

  .projects>ul>li {
    /* background-color: var(--color_zinc900); */
    border: 1px solid #fff;
    border-radius: 0%;
    transition: unset;
    max-width: none;
  }
}

/* sm */
@media (max-width: 640px) {
  
}