.projects > * {
  margin-bottom: 2rem;
}

.projects {
  color: var(--color_zinc100);
}

.projects__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  list-style-type: none;
  gap: 1rem;
}

.projects > ul > li {  
  background-color: var(--color_zinc900);  
  border: 0.5px solid var(--color_highlight);
  border-radius: 5%;
  transition: all .2s ease-in-out;
}
.projects li:hover {
  transform: scale(1.02);
}

.projects__card {  
  margin: 2rem;  
}

.projects__card > * {
  margin-top: 1rem;
}

.projects__cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projects__card i {
  color: var(--color_highlight);
}

.projects__technologies {
  margin-top: 2rem;
  color: var(--color_zinc300);
  font-size: 0.8rem;
  display: flex;
  list-style: none;
  gap: 2rem;
}


/* Media Queries */
@media (max-width: 1536px) {}

/* xl */
@media (max-width: 1280px) {}

/* lg */
@media (max-width: 1024px) {}

/* md */
@media (max-width: 768px) {}

/* sm */
@media (max-width: 640px) {
    .projects>ul>li { 
      background-color: var(--color_zinc900);
      border: 1px solid #fff;
      border-radius: 0%;
      transition: unset;
    }
}